<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>center</title>
    <style>
        body{
            background: #ccc;
        }
        .warp{
            width: 300px;
            height: 200px;
            margin: 0 auto;
            background: red;
        }
    </style>
</head>
<body>
    <div class="warp">
        宽300px，高200px，在页面水平居中
    </div>
</body>
</html>