<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .warp{
            position: relative;
            width: 100%;
            height: 300px;
            background: #ccc;
        }
        .content{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .content h1{
            padding-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="warp">
        <div class="content">
            <h1>这是标题</h1>
            <p>这是内容，这段文字在当前区块内垂直居中</div>
    </div>
</body>
</html>