<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vertical</title>
    <style>
        .warp {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: #ccc;
        }
    </style>
</head>

<body>
    <div class="warp">
        <h1>这里是内容</h1>
        <p>内容高宽不确定</p>
    </div>
</body>

</html>